{% extends 'base.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="{{ asset('css/stripeForm.css')}}">{% endblock %}

{% block title %}Shopping Cart{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


    {% if app.session.get('cart') is empty %}
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">Your Cart</h1>
                <button class="btn btn-warning" type="button">Products in your cart <span class="badge badge-light">0</span></button>
            </div>
        </div>
    {% else %}
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">Your Cart</h1>
                <button class="btn btn-warning" type="button">Products in your cart <span class="badge badge-light">{{ app.session.get('cart').totalItems() }}</span></button>
                <a href="{{ path('cart_clear') }}" class="btn btn-warning">Clear your cart</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <h5>Products in the cart: </h5>
                <table class="table table-bordered table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in app.session.get('cart').toArray()['items'] %}
                        <tr>
                            <td>{{ item['data']['name'] }}</td>
                            <td>{{ item['data']['quantity'] }}</td>
                            <td>{{ item['data']['price'] }}&euro;</td>
                            <td class="align-middle" style="text-align: center"><a href="{{ path('cart_delete', {id: item['id']}) }}"><i class="fas fa-trash-alt"></i></a></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>Total: {{ app.session.get('cart').total() }}&euro;</td>
                    </tr>
                    </tbody>
                </table>
                <a href="#collapseExample" class="btn btn-warning btn-sm" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-shopping-cart"></i> Buy</a>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <form action="{{ path('cart_buy') }}" method="post" id="payment-form">
                            <div class="form">
                                <label for="card-element">
                                    Credit or debit card
                                </label>
                                <div id="card-element">
                                    <!-- A Stripe Element will be inserted here. -->
                                </div>

                                <!-- Used to display form errors. -->
                                <div id="card-errors" role="alert"></div>
                            </div>

                            <button class="btn btn-sm btn-outline-warning" style="margin-top: 10px">Submit Payment</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <script src="https://js.stripe.com/v3/"></script>
    <script src="{{ asset('js/stripe.js')}}"></script>

{% endblock %}