<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>
    {% block stylesheet %}{% endblock %}
    <title>Firewatch - {% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 50px">
        <a class="navbar-brand" href="#"><img src="{{ asset('img/logo/firebase-1.svg') }}" width="30" height="30" style="margin-bottom: 5px"> Firewatch</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('product_home') }}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Collection <span class="badge badge-pill badge-warning">New</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for category in categories.getCategories() %}
                            <a class="dropdown-item" href="{{ path('product_list', {'cat': category.id }) }}">{{ category.name }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Membre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
            </ul>
        </div>
        {% if app.user %}{#Test si un user est log#}
            {% if app.session.get('cart') is empty %}{#Test si un panier existe#}
                <a class="btn btn-outline-warning btn-sm" href="{{ path('cart') }}" style="margin-right: 5px"><i class="fas fa-shopping-cart"></i> <span class="badge badge-light">0</span></a>
            {% else %}
                <a class="btn btn-outline-warning btn-sm" href="{{ path('cart') }}" style="margin-right: 5px"><i class="fas fa-shopping-cart"></i> <span class="badge badge-light">{{ app.session.get('cart').totalItems() }}{{ app.session.set('userId', app.user.id) }}</span></a>
            {% endif %}
            {% if app.user.role == "ROLE_ADMIN" %}{#Test si admin #}
                <a href="{{ path('product_admin_home') }}" class="btn btn-outline-warning btn-sm" style="margin-right: 5px">Administration</a>
            {% endif %}
            <a href="{{ path('logout') }}" class="btn btn-outline-warning btn-sm " style="margin-right: 5px">Logout</a>
        {% else %}
            <button class="btn btn-outline-warning btn-sm " type="button" data-toggle="modal" data-target="#exampleModalCenter" style="margin-right: 5px">Login</button>
            <a href="{{ path('registration') }}" class="btn btn-outline-warning btn-sm">Register</a>
        {% endif %}
    </nav>
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{{ path('login') }}">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="email" name="_username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" name="_password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Stay logged</label>
                            </div>
                            <button type="submit" class="btn btn-warning">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% block body %}{% endblock %}
    </div>

    <footer class="footer bg-dark" style="margin-top: 50px; padding: 25px 0">
        <div class="container">
            <div class="row">
                <div class="col-xl-4">
                    <h4 class="text-light">Find Us</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <p><i class="fas fa-location-arrow"></i> 9878/25 sec 9 rohini 35</p>
                        </li>
                        <li class="nav-item">
                            <p><i class="fas fa-phone"></i> +91-9999878398 </p>
                        </li>
                        <li class="nav-item">
                            <p><i class="fas fa-at"></i> info@example.com</p>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-4">
                    <div id='map' style="height: 100%"></div>
                </div>
                <div class="col-xl-4">
                    <h4 class="text-light">Quick links</h4>
                    <div class="list-group">
                        <a href="{{ path('product_home') }}" class="list-group-item list-group-item-action text-light bg-dark">Home</a>
                        <a href="#" class="list-group-item list-group-item-action text-light bg-dark">Collection</a>
                        <a href="#" class="list-group-item list-group-item-action text-light bg-dark">Membre</a>
                        <a href="#" class="list-group-item list-group-item-action text-light bg-dark">About us</a>
                        <a href="{{ path('product_terms') }}" class="list-group-item list-group-item-action text-light bg-dark">Terms of use</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
            integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
            crossorigin=""></script>
    <script src="{{ asset('js/map.js')}}"></script>
    <script src="{{ asset('js/registerModal.js')}}"></script>
{% block javascript %}{% endblock %}
</body>
</html>